<h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>


<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.submit 'save your coktail new' %>
<% end %>
